---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { employee } = Astro.props;
const { img, name, title, description, slug } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<div>
  <a href={`/${slug}`}>
    <div class="image-container">
      <Image src={images[img]()} alt={name} />
      <h3>{title}</h3>
    </div>
  </a>
  <h2>{name}</h2>
  <p>{description}</p>
  <span class="icons">
    <img src="assets/icons/instagram.svg" alt="instagram" />
    <img src="assets/icons/facebook.svg" alt="facebook" />
    <img src="assets/icons/twitter.svg" alt="twitter" />
  </span>
</div>

<style>
  @layer components {
    div {
      margin-top: 43px;
      margin-bottom: 37px;
      --gap: 0;
      justify-items: center;
      display: grid;
    }

    .image-container {
      position: relative;
      width: 100%;
    }

    .image-container img {
      border-radius: 20px;
      width: 100%;
      height: auto;
    }

    .image-container h3 {
      position: absolute;
      bottom: 20px;
      right: 10px;
      z-index: 1;
      padding: 4px 21px;
      border-radius: 29px;
      font-size: 16px;
      line-height: 160%; /* 25.6px */
      background: #181818;
      color: #fff;
    }

    .image-container:hover h3 {
      background: #ffcc4a;
      color: #181818;
    }

    h2 {
      text-align: center;
      --flow-space: 25px;
    }

    p {
      text-align: center;
    }

    .icons {
      margin-top: 27px;
      display: flex;
      align-items: center;
      gap: 29px;
    }

    .icons img {
      width: 24px;
      height: 24px;
    }
  }
</style>