---
const { padding = "initial", layout = "full-bleed", theme } = Astro.props;
---

<section data-layout={layout} data-theme={theme} style=`--padding: ${padding}`>
  <slot />
</section>
<!-- <section data-layout={"full-bleed"} data-theme={theme}>
  <div data-layout={layout} style=`--padding: ${padding}`>
    <slot />
  </div>
</section> -->

<style>
  @layer components {
    section {
      /*Delete! */
      padding-block: var(--padding, 3rem);

      outline: 2px solid red;
      outline-offset: -2px;
      background: var(--bg-section, #fff);
      color: var(--text-section, #181818);
      h1,h2,h3,h4,h5,h6 {
        color: var(--header-section, #181818) ;
      }

      li {
        background-color: var(--bg-card, #fff);
        color: var(--text-card, #181818);
      }
    }

    [data-layout="content"] {
      grid-column: content;
    }

    [data-layout="feature"] {
      grid-column: feature;
    }

    [data-layout="full-bleed"] {
      grid-column: full;
      display: grid;
      gap: inherit;
      grid-template-columns: subgrid;
      align-content: start;

      > * {
        grid-column: content;
      }
    }

    [data-theme="dark"] {
      --bg-section: #181818;
      --text-section: #fff;
      --header-section: #fff;
      --bg-card: #f5f5f5;
      --text-card: #181818;
    }
    [data-theme="light"] {
      --bg-section: #f5f5f5;
      --text-section: #595566;
      --header-section: #181818;
      --bg-card: #595566;
      --text-card: #181818;
    }
    [data-theme="yellow"] {
      --bg-section: #ffcc4a;
      --text-section: #181818;
      --header-section: #181818;
      --bg-card: gainsboro;
      --text-card: #181818;
    }
  }
</style>
